# to be used to setup locales & users, eventually, only root, and users will be by key+LDAP instance query

# schema for functional networking.
#
# .io - services / applications
# .me - host access
# .net - centralized hub
#
# .com - keyhole + frontend filtering
# .org - keyhole + frontend filtering 
#
# 
#
# example of keyhole for hypokrites.net = omnia.hypokrites.net => xxxxx.sfo1.digitalocean.com
#
# .net becomes the framework for the supernetwork   ... self organizing/aware.
#   the dns table for this network is shared by the backbone elements, backbones can drop out, and are typically 
#   geometrically connected to eachother, sorted by metric/sampling
# .io is used to access services on the domain  ... application access
# .me is used for host+servlet|container access ... used for administrative purposes only
#   ex. container1.applicationX.unicron.hypokrites.me
#
# .com|.org ~ public portal, for say email, web surfing, ...
# 

hostname:saturn
  # certificate required for this one.
  # 
  # 
  # 
  backup:scp://saturn.hypokrites.net/config
  gentoo:
    profile:*
  locale:
    language:en_US.utf8
    timezone:America/Los_Angeles
  users:
    -root
    -sysop
    root:
      password:@PXCw0rdR00t
      # profile uses this
      backup:rsync://root.hypokrites.net/home
    sysop:
      password:@PXCw0rdSy$
      backup:rsync://sysop.hypokrites.net/home
  partmap:
    -boot
    -home
    -src
    -libvirt
    -lxd
    -log 
    -swap
    home:/home
      type: zfs
      params:
        keylocation:/srv/crypto/zfs.key
        format:hex
        encryption:aes-256-gcm
        compression:lz4
    boot:/boot
      dev:UUID="874D-C3CA"
      LINUX:/boot/LINUX
      conf:/boot/EFI/boot/refind.conf  
      kernel:6.1.13-gentoo
    swap:
      # type - zfs: always ipmlies dataset
      #      - pagefile: file location
      #      - partition: /dev/...      
      type:zfs
      location:test/swap
      params:
    src:/usr/src
    libvirt:/var/lib/libvirt
    lxd:/var/lib/lxd
    log:/var/log
